.academic__courses{
    display: flex;
    gap: 3rem;
    margin: 1rem;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .academic__courses{
        flex-direction: column;
        gap: 0;
    }

}

/*@media screen and (min-width: 1024px) {
    .academic__courses{
    margin: 1rem 5rem 1rem 5rem;
    }
}*/