.about__container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 368px) {
    .about__container{
        margin: 1rem;
    }

}

@media screen and (min-width: 1024px) {
    .about__container{
    margin: 1rem 5rem 1rem 5rem
    }
}